.card {
    padding: 5px;
    --background: var(--ion-color-dark);
}

.movie-details {
    margin: 5px;
}

.title {
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    color: var(--ion-color-light);
}

.starting,
.starting-list,
.genre-list,
.overview,
.release {
    color: var(--ion-color-medium-tint);
    margin: 5px 0 0 5px;
    font-size: 14px;
}
.cast{
    margin: 5px 0 0 5px;
}

.cast-name{
    padding: 3px;
    height: 35px;
    overflow: hidden;
}
.cast-card{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin: 0 5px;
}

.cast-image{
    height: 200px;
    width: 125px;
}
